.info{
    width: 70%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.info div{
    display: flex;
}

input, textarea{
    width: 80%;
    margin-left: auto;
    font-size: 1.25rem;
}

.social_label{
    margin-top: 1rem;
}

.socials{
    gap: .75rem;
    display: flex;
    flex-direction: column;
}

label{
    font-size: 1.25rem;
    margin: .9rem 0 .3rem 0;
    color: #100f0f;
}

.input{
    border-radius: 8px;
    font-size: 1.2rem;
    border: 1px solid #656c76;
    background: transparent;
    padding: 6px;
}

textarea{
    background: transparent;
    border: 1px solid #656c76;
    border-radius: 8px;
    padding: .6rem;
}

.save{
    border: 1px solid #656c76;
    background-color: rgb(35, 199, 35, .6);
    padding: .5rem;
    font-size: 1.25rem;
}

footer{
    height: 60px;
    border-top: 1px solid #656c76;
    margin-top: 2rem;
    line-height: 60px;
    color: #100f0f;
}

