*{
    margin: 0;
    padding: 0;
}

html,
body{
    height: 100%;
}

header{
    background-color: #0d1117;
    color: white;
}

nav{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #FDF3E2;
}

ul{
    display: flex;
    list-style-type: none;
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 32px;
    opacity: 1;
}

li a{
    color: #FDF3E2;
    text-decoration: none;
    font-family: Roboto, serif;
    font-size: 22px;
    opacity: 0.75;
}

header li:nth-child(2){
    margin-left: auto;
    margin-right: 24px;
}

header li:nth-child(4){
    margin-left: 24px;
}

main{
    background-color: #3dae98;
}

section{
    background-color: #0d1117;
    color: white;
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 100px));
}

section .container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 5rem 0 10rem 0;
}

.container div{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 3rem;
    align-items: end;
}

.buttons{
    margin: 1rem 0;
}

.buttons ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttons li{
    border: 1px solid #fff;
    border-radius: .5rem;
    padding: 3px 16px;
    cursor: pointer;
}

section img{
    transform: scale(1.2);
    /* animation: movement 8s ease infinite; */
    z-index: 5;
}

@keyframes movement{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

.headline{
    text-transform: uppercase;
    color: #fff;
    font-size: 7.5rem;
    margin-left: 30px;
    text-align: end;
    font-family: Roboto, serif;
    letter-spacing: .4rem;
}

.line{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    margin-left: 30px;
    text-align: end;
    opacity: 0.7;
    font-family: Roboto, serif;
}

article{
    color: #fff;
    background-color: #0d1117;
    width: 100%;
    clip-path: polygon(0 0,100% 100px,100% 100%,0 100%);
    margin-top: -75px;
}

article .article_container{
    width: 80%;
    margin: 0 auto;
    padding-top: 9rem;
    padding-bottom: 3rem;
    display: flex;
}

.learn_text{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 3rem;
    gap: 1rem;
}

.image_container{
    margin-left: auto;
}

.image_container img{
    width: 600px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1rem;
}



summary{
    background-color: #0d1117;
    color: white;
    border-top: 24px solid #3dae98;
}

.summary_container{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

.summary_container div{
    font-size: 4rem;
    font-family: Roboto, serif;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}

.summary_container li{
    border: 2px solid #fff;
    border-radius: .5rem;
    padding: 8px 20px;
    cursor: pointer;
    margin: 1rem 0;
}

.summary_container li a{
    text-transform: uppercase;
    font-size: 2rem;
    opacity: 1;
}

footer{
    height: 120px;
    background-color: #FDF3E2;
}

footer div{
    width: 80%;
    margin: auto;
    height: 120px;
    background-color: #FDF3E2;
    display: flex;
    align-items: center;
}

footer .bottom_logo{
    max-width: 300px;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-family: Roboto, serif;
}

.subscribe{
    margin: 0;
}

form{
    width: 100%;
    display: flex;
    gap: 6px;
}

footer .subscribe input{
    flex-grow: 1;
    height: 36px;
    color: gray;
    padding: 0 0 0 6px;
}

footer .subscribe button{
    min-width: 100px;
    height: 40px;
    color: #000;
    background-color: #BB7A11;
    text-transform: uppercase;
    border: none;
}

footer .socials{
    max-width: 300px;
    margin: 0;
}

footer .socials ul{
    width: 100%;
    margin: 0;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.socials ul li{
    vertical-align: middle;
}
