:root{
    --main-background-color: #9a9b9c;
    --main-background-image-big: url("images/background_big.jpg");
}

*{
    margin: 0;
    padding: 0;
}

header{
    /*background-color: var(--main-background-color);*/
    background-image: var(--main-background-image-big);
    color: #000;
}

nav{
    width: 100%;
    height: 80px;
    border-bottom: 20px solid #317e6f;
}

ul{
    display: flex;
    list-style-type: none;
    width: 80%;
    height: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.logo{
    font-size: 2.2rem;
    opacity: 1;
}

li a{
    color: #100f0f;
    text-decoration: none;
    font-family: Roboto, serif;
    font-size: 1.75rem;
    opacity: 0.75;
}

header li:nth-child(2){
    margin-left: auto;
    margin-right: 24px;
}

header li:nth-child(4){
    margin-left: 24px;
}

main{
    background-color: #317e6f;
}

section{
    /*background-color: var(--main-background-color);*/
    background-image: var(--main-background-image-big);
    clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 100px));
}

section .container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    padding: 5rem 0 10rem 0;
}

.container div{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-top: 3.5rem;
    align-items: end;
}

.buttons{
    margin: 1rem 0;
}

.buttons ul{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.buttons li{
    border: 4px solid #000;
    border-radius: .5rem;
    padding: .25rem 1.2rem;
    cursor: pointer;
}

section img{
    width: 500px;
    z-index: 5;
}

.headline{
    font: bold 7.5rem Roboto, serif;
    text-transform: uppercase;
    color: #100f0f;
    margin-left: 30px;
    text-align: end;
    letter-spacing: .5rem;
}

.line{
    text-transform: uppercase;
    color: #100f0f;
    font-size: 3rem;
    margin-left: 30px;
    text-align: end;
    opacity: 0.7;
    font-family: Roboto, serif;
    font-weight: bold;
}

article{
    color: #000;
    /*background-color: var(--main-background-color);*/
    width: 100%;
    background-image: var(--main-background-image-big);
    clip-path: polygon(0 0,100% 100px,100% 100%,0 100%);
    margin-top: -75px;
}

article .article_container{
    width: 80%;
    margin: 0 auto;
    padding-top: 9rem;
    padding-bottom: 3rem;
    display: flex;
}

.learn_text{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-right: 3rem;
    gap: 1rem;
}

.image_container{
    margin-left: auto;
}

.image_container img{
    width: 600px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 1rem;
}

summary{
    /*background-color: var(--main-background-color);*/
    color: #100f0f;
    background-image: var(--main-background-image-big);
    border-top: 24px solid #317e6f;
}

.summary_container{
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
}

.summary_container div{
    font-size: 4rem;
    font-family: Roboto, serif;
    margin: 1rem 0;
    text-align: center;
    text-transform: uppercase;
}

.summary_container li{
    border: 3px solid #000;
    border-radius: .5rem;
    padding: 8px 20px;
    cursor: pointer;
    margin: 1rem 0;
}

.summary_container li a{
    text-transform: uppercase;
    font-size: 2rem;
    opacity: 1;
}

footer{
    height: 120px;
    background-color: #f3c781;
}

footer div{
    width: 80%;
    margin: auto;
    height: 120px;
    display: flex;
    align-items: center;
}

footer .bottom_logo{
    max-width: 300px;
    margin: 0;
    font-size: 36px;
    line-height: 36px;
    color: #000;
    font-family: Roboto, serif;
}

.subscribe{
    margin: 0;
}

form{
    width: 100%;
    display: flex;
    gap: 6px;
}

footer .subscribe input{
    flex-grow: 1;
    height: 36px;
    color: rgba(0, 0, 0, .75);
    padding: 0 0 0 6px;
}

footer .subscribe button{
    min-width: 140px;
    height: 40px;
    font: bold 1rem Roboto, serif;
    background-color: #2D8074;
    text-transform: uppercase;
    border: none;
}

footer .socials{
    max-width: 300px;
    margin: 0;
}

footer .socials ul{
    width: 100%;
    margin: 0;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.socials ul li{
    vertical-align: middle;
}
