*{
    margin: 0;
    padding: 0;
}

html{
    width: 100%;
    height: 100%;
}

body{
    background: #FA8023;
    background: linear-gradient(to right, #FE963B, #FA8023);
    height: 100%;
    width: 100%;
    overflow-y: auto;
}

.root_container{
    width: 100%;
    height: 100%;
}

.top_row{
    height: 48px;
    display: flex;
    margin: 10px;
}

.menu_icon{
    background-color: #FFD2A9;
    width: 48px;
    height: 100%;
    margin-right: 10px;
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    display: flex;
    vertical-align: middle;
}

.menu_icon button{
    background-color: transparent;
    border: none;
}





.hidden_dropdown{
    visibility: hidden;
}

#dropdown{
    position: absolute;
    background-color: #FFD2A9;
    min-width: 180px;
    min-height: 230px;
    text-align: left;
    border-radius: 12px;
    margin-top: 58px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    margin: 0;
}

ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
}







.search_bar{
    width: 40%;
    background-color: #FFD2A9;
    color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    font-weight: bold;
    line-height: 48px;
    font-size: 1.4em;
}

.user_info{
    width: 10%;
    color: #000;
    margin-left: auto;
    background-color: #FFD2A9;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    line-height: 48px;
    font-size: 1em;
}

.avatar img{
    width: 48px;
    border-radius: 24px;
    object-fit: cover;
}

.bottom_row{
    display: flex;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.85);
    height: 100vh;
    border-radius: 12px;
}
