*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #808791;
    overflow-y: auto;
    font-family: Roboto, serif;
}

.container{
    width: 100%;
}

header{
    display: flex;
    padding: 14px;
    background-color: #565d6c;
}

.header-start{
    display: flex;
    flex: 1 1 auto;
    gap: 12px;
}

.header-start .button_start{
    min-width: 32px;
    min-height: 32px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, .75);
    border-radius: 8px;
}

.header-start .button_start svg{
    margin: 4px;
}

.header-end{
    display: flex;
    flex: 1 1 auto;
    justify-content: end;
    align-items: center;
    gap: 12px;
}

.header-end a{
    color: rgba(0, 0, 0, .6);
    font-size: 1.5rem;
    text-decoration: none;
}

.header-end .button_end{
    min-width: 32px;
    min-height: 32px;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, .75);
    border-radius: 8px;
}

.header-end button svg{
    margin: 4px;
}

.header-end img{
    height: 32px;
    border-radius: 8px;
}

.hidden_dropdown{
    visibility: hidden;
}


#dropdown{
    position: absolute;
    background-color: #656c76;
    border-radius: 12px;
    margin-top: 60px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.75);
    border: 1px solid rgba(0, 0, 0, .5);
    padding: .5rem;
    z-index: 10;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

ul li{
    display: flex;
}

ul li a{
    font-size: 2rem;
    text-decoration: none;
    color: rgba(0, 0, 0, .75);
    margin: auto 0 auto .5rem;
}

ul li a:hover{
    color: rgba(0, 0, 0, 1);
    text-decoration: underline;
}



.search_bar{
    flex: 0.7 1 auto;
}

form{
    display: flex;
    gap: 12px;
}

form .search{
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, .75);
    background: transparent;
    color: #000;
    padding-left: 6px;
    flex: 0.7 1 auto;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.bottom_row{
    color: white;
    display: flex;
    width: 80%;
    margin: 0 auto;
}

dialog{
    margin: auto;
    width: 40%;
    background-color: #010409;
    opacity: 0.9;
    border: 1px solid #656c76;
    border-radius: 12px;
    color: white;
    padding: 12px;
}

dialog .head{
    border-bottom: 1px solid #656c76;
    padding: 0 0 4px 0;
    margin: 8px 0;
}

dialog button{
    color: white;
    padding: 0 6px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.85);
}

.empty{
    margin: .5rem 0;
}
