*{
    margin: 0;
    padding: 0;
}

body{
    background: #0d1117;
    overflow-y: auto;
}

header{
    display: flex;
    padding: 14px;
    background-color: #010409;
}

.header-start{
    display: flex;
    flex: 1 1 auto;
    gap: 12px;
    /* border: 1px solid red; */
}

.header-start button{
    min-width: 32px;
    min-height: 32px;
    background-color: transparent;
    border: 1px solid #656c76;
    border-radius: 8px;
}

.header-start button svg{
    margin: 4px;
}

.header-end{
    display: flex;
    flex: 1 1 auto;
    /* border: 1px solid green; */
    justify-content: end;
    align-items: center;
    gap: 12px;
}

.header-end a{
    color: rgba(255, 255, 255, .7);
    font-size: 1em;
    text-decoration: none;
}

.header-end button{
    min-width: 32px;
    min-height: 32px;
    background-color: transparent;
    border: 1px solid #656c76;
    border-radius: 8px;
}

.header-end button svg{
    margin: 4px;
}

.header-end img{
    height: 32px;
    border-radius: 8px;
}

.hidden_dropdown{
    visibility: hidden;
}

#dropdown{
    position: absolute;
    background-color: #656c76;
    min-width: 180px;
    min-height: 230px;
    text-align: left;
    border-radius: 12px;
    margin-top: 58px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 10px;
    margin: 0;
}

ul li a{
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
}

.search_bar{
    flex: 0.7 1 auto;
}

form{
    display: flex;
    gap: 12px;
}

form .search{
    border-radius: 8px;
    border: 1px solid #656c76;
    background: transparent;
    color: #fff;
    padding-left: 6px;
    flex: 0.7 1 auto;
    display: flex;
    align-items: center;
}

.search_bar p{
    color: #656c76;
    margin: 0 0 0 8px;
    font-size: 1rem;
}

.bottom_row{
    color: white;
    display: flex;
    /* background-color: rgba(255, 255, 255, 0.85); */
    width: 80%;
    margin: 0 auto;
}

dialog{
    margin: auto;
    width: 40%;
    background-color: #010409;
    opacity: 0.9;
    border: 1px solid #656c76;
    border-radius: 12px;
    color: white;
    padding: 12px;
}

dialog .head{
    border-bottom: 1px solid #656c76;
    padding: 0 0 4px 0;
    margin: 8px 0;
}

dialog button{
    color: white;
    padding: 0 6px;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.85);
}
