:root{
    --main-font-family: Roboto, serif;
    --main-background-image-big: url("../images/background_big.jpg");
}

html{
    height: 100%;
}

body{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--main-background-image-big);
    font-family: var(--main-font-family);
}

.login_card{
    background-color: #949393;
    filter: drop-shadow(3px 3px 15px rgba(65, 65, 65, 0.8));
    border: 1rem solid #317e6f;
    border-radius: 35px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

form .text {
    background: rgba(255, 255, 255, .6);
    border: 1px solid #000;
    border-radius: 4px;
    font-size: 1.5rem;
    margin-left: auto;
}

form .field{
    display: flex;
    gap: 1.5rem;
}

form label{
    font-size: 1.5rem;
}

input.checkbox{
    width: 25px;
    transform: scale(1.75);
}

button{
    width: 100%;
    padding: .5rem 0;
    border:  1px solid #000;
    border-radius: 12px;
    font-size: 1.5rem;
    background-color: #00ffc8;
    font-family: var(--main-font-family);
    margin: 1.5rem 0;
}

.link{
    color: rgba(255, 255, 255, .7);
    text-align: center;
    font-size: 1.3rem;
}

.link a{
    color: white;
}

.error{
    font-size: 1.5rem;
    color: red;
}
