.header{
    text-align: center;
    font-size: 2rem;
    margin: .5rem 0;
}

.info{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.info div{
    display: flex;
    flex-direction: column;
}

label{
    margin: .8rem 0 .4rem 0;
}

.input, .select{
    border-radius: 8px;
    font-size: 1.2rem;
    border: 1px solid #656c76;
    background: transparent;
    color: white;
    padding: 6px;
}

.textarea-content{
    height: 550px;
}

.textarea-comment{
    height: 150px;
}

.select_category option{
    color: black;
}

option{
    color: white;
}

.tag{
    color: white;
}

.select_tags{
    height: 200px;
}

.update{
    border: 1px solid #656c76;
    background-color: rgb(35, 199, 35, .6);
    color: white;
    padding: 6px;
    font-size: 1.2rem;
}

textarea{
    background: transparent;
    border: 1px solid #656c76;
    border-radius: 8px;
    color: white;
    padding: .6rem;
}

footer{
    height: 60px;
    border-top: 1px solid #656c76;
    margin-top: 2rem;
    line-height: 60px;
}
