.header{
    text-align: center;
    font-size: 2rem;
    margin: 1rem 0;
    color: #100f0f;
}

.info{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.info div{
    display: flex;
    flex-direction: row;
}

label{
    font-size: 1.2rem;
    margin: .8rem 0 .4rem 0;
    color: #100f0f;
}

.input, .textarea, .select{
    width: 80%;
    margin-left: auto;
}

.input, .select{
    border-radius: 8px;
    font-size: 1.2rem;
    border: 1px solid #656c76;
    background: transparent;
    padding: 6px;
}

.select_tags{
    min-height: 150px;
}

.update{
    border: 1px solid #656c76;
    background-color: rgb(35, 199, 35, .6);
    padding: .5rem .75rem;
    border-radius: .5rem;
    font-size: 1.2rem;
}

textarea{
    border: 1px solid #656c76;
    border-radius: 8px;
    padding: .6rem;
}

footer{
    height: 60px;
    border-top: 1px solid #656c76;
    margin-top: 2rem;
    line-height: 60px;
    color: #100f0f;
}

.error{
    font-size: 1.25rem;
    margin-bottom: .75rem;
    color: red;
}
